.about-section {
  padding-top: 2vw;
  padding-bottom: 4vw;
  padding-left: 6vw;
  padding-right: 6vw;
}
.about-paragraph {
  margin-top: 1vw;
  color: rgba(0, 0, 0, 0.75);
  font-size: 1.5vw;
  line-height: 1.5;
  font-weight: 400;
  text-align: left;
}
.about-images-wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: start;
  padding-top: 2vw;
  padding-bottom: 2vw;
  overflow: scroll;
  max-width: 100%;
}
.about-image {
  padding-right: 28px;
  width: 600px;
}

.container.about {
  align-items: start;
}

.about-span {
  color: #7d3811;
}
.ws {
  font-size: 2vw;
}

@media only screen and (max-width: 800px) {
  .about-paragraph {
    font-size: 3vw;
  }
  .ws {
    font-size: 4.5vw;
  }
  .about-image {
    padding-right: 8px;
    width: 60vw;
  }
}
