.footer {
  background-color: #5e4a4a;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 80px;
  padding-bottom: 40px;
  font-family: "Yanone Kaffeesatz";
  font-size: 1.5vw;
}
.logo-footer {
  transform: rotateX(0) rotateY(0) rotateZ(35deg);
  width: 100px;
  cursor: pointer;
}
.footer-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #fadaa4;
  line-height: 1;
  font-weight: 400;
  width: 100%;
}
.footer-items {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-around;
}
.footer-item-link {
  text-decoration: none;
  color: #fadaa4;
  cursor: pointer;
  padding: 32px;
}
.contact-footer {
  padding: 5px;
}
.footer-item-link:hover {
  color: white;
}
.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
}
.contact-item-footer {
  padding: 5px;
}
.all-rights {
  font-size: 1vw;
  line-height: 1.5;
  font-weight: 200;
  color: #fadaa4;
  align-self: self-start;
}
@media only screen and (max-width: 600px) {
  .all-rights {
    font-size: 1.5vw;
  }
}
@media only screen and (max-width: 600px) {
  .footer {
    font-size: 2.5vw;
  }
  .footer-wrapper {
    margin-bottom: 24px;
  }
  .footer-items {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: 17vw;
  }
  .footer-item-link {
    padding: 2vw;
  }
  .logo-footer {
    width: 18vw;
  }
  
}
