@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap");
html, body {
  text-align: center;
}

.line, .carousel li img, .carousel li, .carousel {
  width: 100%;
  flex-grow: 2;
}

.flex, .carousel-wrapper, .center, .carousel ul {
  display: flex;
}

.center, .carousel ul {
  align-items: center;
  justify-content: center;
  flex-grow: 2;
}

.carousel-wrapper {
  position: relative;
}
.carousel-wrapper input {
  display: none;
}

.carousel {
  overflow: hidden;
  border-radius: 0px 0px 20px 20px;
}
.carousel ul {
  position: relative;
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 800%;
  transition: left 1s;
}
.carousel li img {
  border-radius: 0px 0px 20px 20px;
}

.nav-dot {
  position: absolute;
  cursor: pointer;
  padding: 0px;
  bottom: 20px;
  width: 2vw;
  height: 2vw;
  z-index: 1;
  opacity: 0.5;
  background-color: rgb(250, 218, 164);
  border-radius: 50%;
  transition: 0.4s;
}
.nav-dot:hover {
  opacity: 0.8;
  transform: scale(1.2);
}
.nav-dot:active {
  transform: scale(0.9);
}

.nav-dot[for=slide1] {
  left: 32.5%;
}

#slide1:checked ~ .carousel ul {
  left: 0%;
}
#slide1:checked ~ .nav-dot[for=slide1] {
  opacity: 1;
}

.nav-dot[for=slide2] {
  left: 37.5%;
}

#slide2:checked ~ .carousel ul {
  left: -100%;
}
#slide2:checked ~ .nav-dot[for=slide2] {
  opacity: 1;
}

.nav-dot[for=slide3] {
  left: 42.5%;
}

#slide3:checked ~ .carousel ul {
  left: -200%;
}
#slide3:checked ~ .nav-dot[for=slide3] {
  opacity: 1;
}

.nav-dot[for=slide4] {
  left: 47.5%;
}

#slide4:checked ~ .carousel ul {
  left: -300%;
}
#slide4:checked ~ .nav-dot[for=slide4] {
  opacity: 1;
}

.nav-dot[for=slide5] {
  left: 52.5%;
}

#slide5:checked ~ .carousel ul {
  left: -400%;
}
#slide5:checked ~ .nav-dot[for=slide5] {
  opacity: 1;
}

.nav-dot[for=slide6] {
  left: 57.5%;
}

#slide6:checked ~ .carousel ul {
  left: -500%;
}
#slide6:checked ~ .nav-dot[for=slide6] {
  opacity: 1;
}

.nav-dot[for=slide7] {
  left: 62.5%;
}

#slide7:checked ~ .carousel ul {
  left: -600%;
}
#slide7:checked ~ .nav-dot[for=slide7] {
  opacity: 1;
}

.nav-dot[for=slide8] {
  left: 67.5%;
}

#slide8:checked ~ .carousel ul {
  left: -700%;
}
#slide8:checked ~ .nav-dot[for=slide8] {
  opacity: 1;
}

.r-arrow, .l-arrow {
  display: none;
  position: absolute;
  cursor: pointer;
  color: rgb(250, 218, 164);
  top: 40%;
  z-index: 1;
  opacity: 1;
  height: 5vw;
  font-size: 5vw;
  transition: 0.5s;
}
.r-arrow:hover, .l-arrow:hover {
  opacity: 0.5;
}
.r-arrow:active, .l-arrow:active {
  opacity: 0.5;
}

.l-arrow {
  left: 20px;
}

.r-arrow {
  right: 20px;
}

#slide1:checked ~ .l-arrow[for=slide8], #slide1:checked ~ .r-arrow[for=slide2] {
  display: block;
}

#slide2:checked ~ .l-arrow[for=slide1], #slide2:checked ~ .r-arrow[for=slide3] {
  display: block;
}

#slide3:checked ~ .l-arrow[for=slide2], #slide3:checked ~ .r-arrow[for=slide4] {
  display: block;
}

#slide4:checked ~ .l-arrow[for=slide3], #slide4:checked ~ .r-arrow[for=slide5] {
  display: block;
}

#slide5:checked ~ .l-arrow[for=slide4], #slide5:checked ~ .r-arrow[for=slide6] {
  display: block;
}

#slide6:checked ~ .l-arrow[for=slide5], #slide6:checked ~ .r-arrow[for=slide7] {
  display: block;
}

#slide7:checked ~ .l-arrow[for=slide6], #slide7:checked ~ .r-arrow[for=slide8] {
  display: block;
}

#slide8:checked ~ .l-arrow[for=slide7], #slide8:checked ~ .r-arrow[for=slide1] {
  display: block;
}

@media only screen and (max-width: 700px) {
  .nav-dot {
    width: 4vw;
    height: 4vw;
  }
}/*# sourceMappingURL=slider.css.map */