.your-section {
  height: 200vw;
  display: flex;
  flex-direction: column;
  perspective: 2000px;
  padding: 60px;
  padding-right: 60px;
  align-items: center;
  justify-content: space-around;
  margin-bottom: -10vw;
  padding-top: 0px;
}
.heading-fixed-image {
  max-width: 80%;
  font-size: 3.5vw;
  line-height: 1;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: transparent;
  background-clip: text;
  background: url(https://uploads-ssl.webflow.com/64a8fce6fe5dca443d98cc7b/64f42f01f762b614240f12d3_joel-jasmin-forestbird-xzPMUMDDsfk-unsplash.jpg);
  background-clip: text;
  -webkit-background-clip: text;
  background-attachment: fixed;
  background-position: 50%;
  margin-top: 2vw;
  margin-bottom: 2vw;
  align-self: center;
}
.your-text {
  font-size: 3vw;
  font-weight: 400;
  line-height: 1;
  color: #5e4a4a;
  padding: 22px;
  border-width: 3px;
  border-color: #5e4a4a;
  border-style: solid;
  border-radius: 10% 32px 20% 22%;
  text-align: center;
}
.your-text-1 {
  max-width: 60vw;
}
.your-text-2 {
  max-width: 60vw;
}
.your-text-3 {
  max-width: 60vw;
}
.your-text-4 {
  max-width: 50vw;
}
.your-arrow-1 {
  width: 20vw;
  transform: rotateX(0) rotateY(0) rotateZ(-1deg);
  top: 15vw;
  right: 32vw;
}
.your-arrow-2 {
  width: 20vw;
  transform: rotateX(0) rotateY(0) rotateZ(83deg);
  top: 40vw;
  right: 30vw;
}
.your-arrow-3 {
  width: 22vw;
  transform: rotateX(0) rotateY(0) rotateZ(0deg);
  bottom: 14vw;
  left: 48vw;
}
.your-arrow-4 {
  width: 10vw;
  transform: rotateX(0) rotateY(0) rotateZ(126deg);
  top: 77vw;
  right: 45.5vw;
}
.your-image-1 {
  width: 300px;
  top: 12.5vw;
  right: 7.2vw;
}
.your-image-2 {
  width: 34vw;
  top: 28.5vw;
  left: 10vw;
}
.your-image-3 {
  width: 40vw;
  top: 44.6vw;
  right: 2vw;
}
.your-button {
  position: absolute;
  top: 90vw;
  padding-top: 1vw;
  padding-bottom: 1.5vw;
  z-index: 0;
  font-size: 2vw;
  font-weight: 400;
  left: 35vw;
  display: none;
}


@media only screen and (max-width: 1100px) {
  .your-section {
    height: 230vw;
    padding-bottom: 2vw;
  }
  .your-text {
    padding: 12px;
  }
  .your-image-1 {
    max-width: 30vw;
  }
  .your-image-1 {
    max-width: 30vw;
  }
}

@media only screen and (max-width: 600px) {
  .your-section {
    height: 250vw;
    padding-bottom: 2vw;
  }
  .your-text {
    padding: 8px;
    border-width: 1px;
    text-align: center;
  }
  .your-image-1 {
    max-width: 20vw;
  }
  .your-image-1 {
    max-width: 20vw;
  }
}

